body {
  font-family: "Work Sans", sans-serif;
  background-color: #eaeded;
  margin: 0;
  padding: 0;
}

.noButtonStyle {
  background: none;
  color: inherit;
  border: none;
  padding: 1px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8vh repeat(2, 45vh) repeat(2, 60vh) 30vh 7vh;

  /* column-gap: 1px; */
  /* row-gap: 1px; */
}
/* Navbar, Offer, Footer common grid layout*/
.navbar,
.outerOffer,
.preFooter,
.finalFooter {
  grid-column-start: 1;
  grid-column-end: 3;
}
/* Navbar */
.navbar {
  position: sticky;
  background-color: white;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.brand {
  font-size: 32px;
  display: inline-block;
  align-self: center;
  margin-left: 10px;
}
.navOptions {
  align-self: center;
}
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid #eaeded;
  transition: border 0.3s;
}

.avatar:hover {
  border: 2px solid coral;
  transition: border 0.3s;
}
.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}

.navigation li .navLink,
.avatarLink {
  padding: 1px;
}

.navigation li .navLink:not(#icon)::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: coral;
  transition: width 0.3s ease;
}

.navigation li .navLink:not(#icon):hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
.navigation li #icon {
  transition: color 0.3s ease-in-out;
}
.navigation li #icon:hover {
  color: coral;
  transition: color 0.3s ease-in-out;
}

/* Category */
.category {
  color: white;
  margin: 0.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category .heading {
  font-weight: 400;
  font-size: 50px;
  margin: 0;
}
.category button {
  border: none;
  background: none;
  color: inherit;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}
.category button:hover {
  color: black;
  background-color: white;
  transition: all 0.3s ease-in;
}

.category .heading::after {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background: coral;
  transition: width 0.3s ease-in;
}

.category .heading:hover::after {
  width: 70%;
  transition: width 0.3s ease-out;
}

/* Offer */
.outerOffer {
  padding: 1% 3%;
}
.offer {
  background-color: white;
  height: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 7%;
  grid-template-rows: 20% 1fr;
  row-gap: 1px;
  column-gap: 1px;
}
.offer .heading {
  grid-column-start: 1;
  grid-column-end: 7;
  justify-self: start;
  align-self: center;
}

.offer .heading h1 {
  font-weight: 400;
  margin: 0 10px;
  padding: 0;
}

.offer .icon {
  place-self: center;
  transition: color 0.3s;
}

.offer .icon:hover {
  cursor: pointer;
  color: coral;
  transition: color 0.3s;
}

/* PreFooter */
.preFooter {
  background-color: #232f3e;
  color: lightgray;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.preFooter li .Heading {
  color: white;
  font-weight: 800;
  font-size: 16px;
}
.infoList {
  display: inline-block;
  list-style-type: none;
  /* background-color: yellow; */
  padding: 0;
  /* margin: 3% 5%; */
}
.preFooter li {
  font-size: 14px;
  margin: 5px 0;
}

.preFooter li:not(:first-child):hover {
  cursor: pointer;
  color: white;
}

.preFooter .infoList .socialIcon {
  display: inline;
  margin: 0 4px;
}
/* finalFooter */
.finalFooter {
  background-color: #141d29;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* For temporary use */
.item {
  background-color: black;
}
